.DS_Store
.dotnetcli
.idea
.metadata
.settings
.vs
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts/
bin
Bin
BuildOutput
coverage
coverage.*
node_modules
obj
packages
project.lock.json
TestResults
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.coverage
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
