<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetCore21" value="https://dotnetfeed.blob.core.windows.net/orchestrated-release-2-1/20180515-07/final/index.json" />
  </packageSources>
</configuration>
