name: dependabot-approve

on: pull_request_target

permissions: {}

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'

    permissions:
      contents: read

    steps:

      - name: Get dependabot metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        id: dependabot-metadata

      - name: Generate GitHub application token
        id: generate-application-token
        uses: peter-murray/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343 # v4.0.1
        with:
          application_id: ${{ secrets.REVIEWER_APPLICATION_ID }}
          application_private_key: ${{ secrets.REVIEWER_APPLICATION_PRIVATE_KEY }}
          permissions: 'contents:write, pull_requests:write'

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          filter: 'tree:0'
          show-progress: false

      - name: Approve pull request and enable auto-merge
        shell: bash
        if: |
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/attest-build-provenance') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/cache') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/checkout') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/dependency-review-action') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/download-artifact') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/setup-dotnet') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/upload-artifact') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'dependabot/fetch-metadata') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'github/codeql-action') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'Microsoft.NET.Test.Sdk')
        env:
          GH_TOKEN: ${{ steps.generate-application-token.outputs.token }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          gh pr checkout "$PR_URL"
          if [ "$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)" != "APPROVED" ];
          then gh pr review --approve "$PR_URL" && gh pr merge --auto --squash "$PR_URL"
          fi
