name: dependency-review

on:
  pull_request:
    branches: [ main, dotnet-vnext ]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Review dependencies
        uses: actions/dependency-review-action@01bc87099ba56df1e897b6874784491ea6309bc4 # v3.1.4
        with:
          allow-licenses: 'Apache-2.0,BSD-2-Clause,BSD-3-Clause,MIT'
